* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65%;
  box-sizing: border-box;
}
body {
  padding: 4rem;
}

h1 {
  font-size: 4rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
