.container{
    height: 50vh;
    width: 100vw;
    display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3 ,1fr);
grid-column: end;
align-items: center;
justify-content: center;


}

h2{
    font-size: 2rem;
    font-family: 400;
    align-self: end;
    /* background-color: violet; */
    justify-self: start;
}
span{
align-items: center;
justify-content: center;


}
a{
    text-decoration: none;
}
.process2{
    align-content: center;
    grid-column: 3/-1;
    grid-row: 2/span 1;
    margin-top: -3rem;
    font-size: 1.8rem;
margin-left: 2rem;
display: flex;
margin-left: -34rem;


}

.process3{
display: flex;

    font-size: 1.8rem;
margin-left: 2rem;
    margin-top:0rem;
grid-row: 3/span 1;
    grid-column: 3/-1;
    margin-top: -6rem;
margin-left: -36rem;
}


.ekyc{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
    font-size: 2rem;
}