.container {
  height: 50vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: end;
  align-items: center;
  justify-content: center;
  grid-column-gap: 1rem;
}

h2 {
  font-size: 2rem;
  font-family: 200;
  align-self: end;
  justify-self: start;
}
span {
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
.open {
  color: black;
}
.process2 {
  align-content: center;
  grid-column: 3/-1;
  grid-row: 2 / span 1;
  font-size: 1.3rem;
  margin-left: 2rem;
  display: flex;
  align-self: start;
  margin-left: -37rem;
  margin-top: 0.5rem;
}

.process3 {
  display: flex;
  justify-self: start;
  font-size: 1.3rem;

  grid-row: 2 / span 1;
  grid-column: 3/-1;
  margin-top: 5rem;
  margin-left: -8.5rem;
}

.ekyc {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  align-self: start;
  justify-self: start;
  margin-top: 3rem;
  font-size: 2.3rem;
}
.arrow {
  font-size: 2rem;
  font-weight: 300;
  grid-column: 2 / 1;
  grid-row: 2 / span 1;
  align-self: center;
  justify-self: end;
  margin-right: 0rem;
  margin-bottom: 1rem;
}
.arrow2 {
  font-size: 3rem;
  grid-column: 1 / 1;
  grid-row: 2 / span 1;
  align-self: end;
  justify-self: end;
}
.arrow3 {
  content: "";
  height: 6rem;
  width: 6rem;

  border: 1px solid black;
  align-items: center;
  border-right: none;
  margin-top: -1.78rem;
  display: flex;
}
hr {
  background-color: black;
  width: 4rem;
  height: 1px;
  margin-left: 1rem;
}
.hr {
  margin-left: 23rem;
  margin-top: -1rem;
  display: flex;
}
